/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 4px 5px 12px black;
}

#colorDisplay {
    font-size: 24px;
    margin-bottom: 20px;
}

#generateButton {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#colorInput{
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background-color: #007BFF;
    padding: 5px;
    border: none;
}

#applyColorButton {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#copyButton {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.gradient-options {
    margin-top: 20px;
}

.color-inputs {
    display: none;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

input[type="color"] {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #007BFF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007BFF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}